Repository tuda-suda/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipeline

variables:
  VERISION: 1.0.0

frontend:
  stage: module-pipeline
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    stategy: depend
  only:
    changes:
      - frontend/**/*

backend:
  stage: module-pipeline
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    stategy: depend
  only:
    changes:
      - backend/**/*

Add sonarqube SAST
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Fix missing dind template
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Fix pipeline
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend, backend

Fix Sonarqube issues
  frontend/public/index.html
  frontend/src/components/catalog/CartCardRow.vue
  frontend/src/components/navbar/CartIcon.vue
Due: frontend

Remove unsued variable
  infrastructure/terraform/variables.tf
Due: none

Hide backend keys
  infrastructure/terraform/main.tf
Due: none

Add Helm Chart
  infrastructure/kubernetes/momo-store-chart/Chart.yaml
  infrastructure/kubernetes/momo-store-chart/charts/backend/Chart.yaml
  infrastructure/kubernetes/momo-store-chart/charts/backend/templates/deployment.yaml
  infrastructure/kubernetes/momo-store-chart/charts/backend/templates/service.yaml
  infrastructure/kubernetes/momo-store-chart/charts/backend/values.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/Chart.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/configmap.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/deployment.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/service.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/values.yaml
  infrastructure/kubernetes/momo-store-chart/templates/acme-issuer.yaml
  infrastructure/kubernetes/momo-store-chart/templates/ingress.yaml
  infrastructure/kubernetes/momo-store-chart/templates/secrets.yaml
  infrastructure/kubernetes/momo-store-chart/values.yaml
Due: none

Set ingress hostname
  infrastructure/kubernetes/momo-store-chart/values.yaml
Due: none

Fix helm chart
  infrastructure/kubernetes/momo-store-chart/charts/backend/templates/deployment.yaml
  infrastructure/kubernetes/momo-store-chart/charts/backend/templates/service.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/configmap.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/deployment.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/service.yaml
  infrastructure/kubernetes/momo-store-chart/values.yaml
Due: none

Fix nginx
  frontend/Dockerfile
  frontend/nginx.conf
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend

Add chart release&deploy
  .gitlab-ci.yml
  infrastructure/kubernetes/.gitlab-ci.yml
Due: none

Add service account manifest
  infrastructure/kubernetes/sa.yaml
Due: none

Add monitoring and increase node scale
  infrastructure/kubernetes/monitoring-ingress.yaml
  infrastructure/terraform/main.tf
Due: none

Fix node resources
  infrastructure/terraform/main.tf
  infrastructure/terraform/variables.tf
Due: none

Change helm deploy image
  infrastructure/kubernetes/.gitlab-ci.yml
Due: none

Move monitoring ingress to monitoring-tools repository
  infrastructure/kubernetes/monitoring-ingress.yaml
Due: none

Add Go tests to SonarQube
  backend/sonar-project.properties
Due: backend

Change module paths
  backend/cmd/api/app/app.go
  backend/cmd/api/app/app_test.go
  backend/cmd/api/app/controller_create_order.go
  backend/cmd/api/app/controller_list_dumplings.go
  backend/cmd/api/dependencies/store.go
  backend/cmd/api/main.go
  backend/cmd/api/router.go
  backend/go.mod
  backend/internal/store/dumplings/fake/store.go
  backend/internal/store/dumplings/mock/store.gen.go
Due: backend

Fix Go test
  backend/cmd/api/app/app_test.go
Due: backend

Add README
  README.md
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/grafana-0.17.0.tgz
  infrastructure/kubernetes/monitoring/prometheus-0.0.1.tgz
Due: none

Hide dockerconfigjson
  infrastructure/kubernetes/.gitlab-ci.yml
  infrastructure/kubernetes/momo-store-chart/templates/secrets.yaml
  infrastructure/kubernetes/momo-store-chart/values.yaml
Due: none

Add automated version setting
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  infrastructure/kubernetes/.gitlab-ci.yml
Due: frontend, backend

Change imagePullPolicy to IfNotPresent
  infrastructure/kubernetes/momo-store-chart/charts/backend/templates/deployment.yaml
  infrastructure/kubernetes/momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

Fix?
  .gitlab-ci.yml
Due: none

Update versioning
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  infrastructure/kubernetes/.gitlab-ci.yml
Due: frontend, backend

Fix Sonar Project name
  backend/sonar-project.properties
Due: backend
